html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  color: white;
}

nav {
  background: red;
}



.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: black;
  padding: 0.66rem;
}

.header img {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.header .container {
  display: flex;
  align-items: center;
}

.main-banner {
  background-image: url(./images/moto.jpeg);
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  background-color: black;
  position: relative;
  width: 20rem;
  top: 9rem;
  padding: 2rem 3rem;
}

.headline h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  font-weight: bold;
}

.item span {
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

.info {
  background: black;
}

.footer {
  background-color: black;
}
